<center><img src="MKn_Staffelter_Hof.jpeg" alt="Picture of old business"</center>
<!--Image Credit: Martin Kraft https://commons.wikimedia.org/wiki/File:MKn_Staffelter_Hof.jpg -->

Staffelter Hof Winery is Germany's oldest business, established in 862 under the Carolingian dynasty. It has continued to serve customers through dramatic changes in Europe, such as the Holy Roman Empire, the Ottoman Empire, and both world wars. What characteristics enable a business to stand the test of time?

To help answer this question, BusinessFinancing.co.uk researched the oldest company still in business in **almost** every country and compiled the results into several CSV files. This dataset has been cleaned.

Having useful information in different files is a common problem. While it's better to keep different types of data separate for data storage, you'll want all the data in one place for analysis. You'll use joining and data manipulation to work with this data and better understand the world's oldest businesses.

## The Data
`data/businesses.csv` and `data/new_businesses.csv`
|Column|Description|
|------|-----------|
|`business`|Name of the business (varchar)|
|`year_founded`|Year the business was founded (int)|
|`category_code`|Code for the business category (varchar)|
|`country_code`|ISO 3166-1 three-letter country code (char)|

`data/countries.csv`
|Column|Description|
|------|-----------|
|`country_code`|ISO 3166-1 three-letter country code (varchar)|
|`country`|Name of the country (varchar)|
|`continent`|Name of the continent the country exists in (varchar)|

`data/categories.csv`
|Column|Description|
|------|-----------|
|`category_code`|Code for the business category (varchar)|
|`category`|Description of the business category (varchar)|

**Traducción:**

La bodega Staffelter Hof es la empresa más antigua de Alemania, establecida en el año 862 bajo la dinastía carolingia. Ha continuado sirviendo a sus clientes a través de cambios dramáticos en Europa, como el Sacro Imperio Romano, el Imperio Otomano y ambas guerras mundiales. ¿Qué características permiten que un negocio resista el paso del tiempo?

Para ayudar a responder esta pregunta, BusinessFinancing.co.uk investigó la empresa más antigua que aún está en funcionamiento en casi todos los países y compiló los resultados en varios archivos CSV. Este conjunto de datos ha sido depurado.

Tener información útil en diferentes archivos es un problema común. Aunque es mejor mantener diferentes tipos de datos separados para el almacenamiento de datos, querrás tener todos los datos en un solo lugar para el análisis. Utilizarás la unión y la manipulación de datos para trabajar con esta información y comprender mejor las empresas más antiguas del mundo.

In [15]:
# Import necessary libraries
import pandas as pd

# Load the data
businesses = pd.read_csv("data/businesses.csv")
new_businesses = pd.read_csv("data/new_businesses.csv")
countries = pd.read_csv("data/countries.csv")
categories = pd.read_csv("data/categories.csv")

In [16]:
# Start coding here!
# Use as many cells as you like

print(businesses.info())
print('---')
print(new_businesses.info())
print('---')
print(countries.info())
print('---')
print(categories.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   business       163 non-null    object
 1   year_founded   163 non-null    int64
 2   category_code  163 non-null    object
 3   country_code   163 non-null    object
dtypes: int64(1), object(3)
memory usage: 5.2+ KB
None
---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   business       2 non-null      object
 1   year_founded   2 non-null      int64
 2   category_code  2 non-null      object
 3   country_code   2 non-null      object
dtypes: int64(1), object(3)
memory usage: 196.0+ bytes
None
---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  195 non-null    object
 1   country       195 non-null    object
 2   continent     195 non-null    object
dtypes: object(3)
memory usage: 4.7+ KB
None
---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_code  19 non-null     object
 1   category       19 non-null     object
dtypes: object(2)
memory usage: 436.0+ bytes
None

In [17]:
#oldest_business_continent

#combinar negocios y paises

business_continent = businesses.merge(countries, on='country_code')

continent = business_continent.groupby('continent').agg({"year_founded":"min"})
continent.head()

               year_founded
continent
Africa                 1772
Asia                    578
Europe                  803
North America          1534
Oceania                1809

In [18]:
#con cuatro columnas: continente, país, negocio y año_fundado
merge_continent = business_continent.merge(continent, on=['continent', 'year_founded'] )
#cambia el orden de las columnas
oldest_business_continent = merge_continent[['continent', 'country', 'business',  'year_founded']]
oldest_business_continent

       continent    country                     business  year_founded
0         Africa  Mauritius               Mauritius Post          1772
1           Asia      Japan                   Kongō Gumi           578
2         Europe    Austria  St. Peter Stifts Kulinarium           803
3  North America     Mexico  La Casa de Moneda de México          1534
4  South America       Peru      Casa Nacional de Moneda          1565
5        Oceania  Australia               Australia Post          1809

¿Cuántos países por continente carecen de datos sobre los negocios más antiguos? ¿Cambiaría esto al incluir nuevos negocios? Cuenta el número de países por continente que faltan datos de negocios, incluyendo los nuevos negocios, y guarda los resultados en un DataFrame llamado `count_missing` con columnas para el continente y el conteo.

In [19]:
#unir nuevos y viejos

all_bussines = pd.concat([businesses, new_businesses])


# Realice una nueva fusión entre los datos de empresas y países. Utilice parámetros 
# adicionales esta vez para realizar una fusión externa y crear una columna de indicador 
# para ver mejor los valores faltantes. Una fusión externa combina dos DataFrames en función de una columna
#  clave e incluye todas las filas de ambos DataFrames.
new_all_countries = all_bussines.merge(countries, on='country_code', how='outer', indicator=True)

#count_missing = continent_completed.groupby('continent')['business']
new_missing_countries = new_all_countries[new_all_countries['_merge']!= 'both']

count_missing = new_missing_countries.groupby('continent').agg({'country':'count'})

count_missing.columns = ['count_missing']

In [20]:
b_categories = businesses.merge(categories, on='category_code')

b_categories_country = b_categories.merge(countries, on='country_code')

In [21]:
oldest_by_continent_category = b_categories_country.groupby(['continent', 'category']).agg({'year_founded':'min'})

oldest_by_continent_category

                                                 year_founded
continent     category
Africa        Agriculture                                1947
              Aviation & Transport                       1854
              Banking & Finance                          1892
              Distillers, Vintners, & Breweries          1933
              Energy                                     1968
              Food & Beverages                           1878
              Manufacturing & Production                 1820
              Media                                      1943
              Mining                                     1962
              Postal Service                             1772
Asia          Agriculture                                1930
              Aviation & Transport                       1858
              Banking & Finance                          1830
              Cafés, Restaurants & Bars                  1153
              Conglomerate                               1841
              Construction                                578
              Defense                                    1808
              Distillers, Vintners, & Breweries          1853
              Energy                                     1928
              Food & Beverages                           1820
              Manufacturing & Production                 1736
              Media                                      1931
              Mining                                     1913
              Postal Service                             1800
              Retail                                     1883
              Telecommunications                         1885
              Tourism & Hotels                           1584
Europe        Agriculture                                1218
              Banking & Finance                          1606
              Cafés, Restaurants & Bars                   803
              Consumer Goods                             1649
              Defense                                    1878
              Distillers, Vintners, & Breweries           862
              Manufacturing & Production                  864
              Media                                      1999
              Medical                                    1422
              Mining                                     1248
              Postal Service                             1520
              Telecommunications                         1912
              Tourism & Hotels                           1230
North America Agriculture                                1638
              Aviation & Transport                       1870
              Banking & Finance                          1891
              Distillers, Vintners, & Breweries          1703
              Food & Beverages                           1920
              Manufacturing & Production                 1534
              Media                                      1909
              Retail                                     1670
              Tourism & Hotels                           1770
Oceania       Banking & Finance                          1861
              Postal Service                             1809
South America Banking & Finance                          1565
              Cafés, Restaurants & Bars                  1877
              Defense                                    1811
              Food & Beverages                           1660
              Manufacturing & Production                 1621